.about {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.header-a {
    background: black;
    color: white;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.header-a>:nth-child(1) {
    background-color: rgb(139, 20, 20);
    width: fit-content;
    padding: 0.3rem;
    border-radius: 50%;
}

.header-a>:nth-child(2) {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bold;
}

.hero-a {
    background-image: url(/src//assets/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 40rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-a>span {
    font-size: 3rem;
    font-weight: 600;
    color: black;
    transform: translateY(-2.3rem);

}


.about>:last-child {
    position: absolute;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: black;
    bottom: 0rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

@media screen and (max-width:768px) {

    .header-a {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .header-a>:nth-child(2) {
        font-size: 1rem;
    }

    .hero-a>span {
        font-size: 1.5rem;
    }

    .header-a>:nth-child(1)>img {
        width: 2rem;
        height: 2rem;
    }
}